.Root {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid black;
  background-color: #FF8360;
  font-family: 'Staatliches', cursive;

  &__text {
      font-size: 2rem;
  }
}